* {
    /* margin: 0 auto; */
    padding: 0 auto; 
    box-sizing: border-box;
    /* height: 0 auto; */
    border-color: aquamarine;
    font-family: 'Times New Roman', Times, serif;
} 

  
/* .h1 {
    color: red;
    text-align: center;
    background-color: white;
} */
.WebPageTitle {
    color: royalblue;
    display: center;
    text-align: center;
    border: 1px solid black;
    border-style: solid, black;
    background-color: aliceblue;
}
.header {
    box-sizing:content-box;
    display: center;
    justify-content: space-between;
    /* padding: 20px; */
}

#navigation-Button-Panel {
    display:flex;
    height:2em;
    border-style: solid, black;
    border: 1.5px solid black;
    justify-content: space-between;
    background-color: lightsteelblue;
}

body {
    font-family: 'Times New Roman', Times, serif;
    height: 100%;
    width: 0 auto;
    position: relative;
    background-color: whitesmoke;
    border-style: solid, black;
    border: 15px solid lightslategrey;
    /* padding: 50px; */
    margin: 20px;
}

/*               Home Page */
 .contentHome {
     /* display: fle
     tx;
    background-image: url("https://i.ibb.co/wrsRNRd/IMG-0573.jpg")
    height: fit-contents; 
    display: flex; 
    z-index: 1;  */
    /* color: black */
    
}  

#h1H {
    display: flex;
    text-align:center;
    /* text-size-adjust: auto; */
    /* text-decoration: solid; */
     /* position:relative; */
    /* text-align: left; */
    color: black;
    /* font-size: 6rem;  */
     /* line-height: .93 */
}

#arnieHome1{
/* position: relative; */
height: 100vh; 
 width: 100 %;
/* display: flex; */ 
align-items: left;
justify-content: left;
/* opacity: 20%; */
position: relative; 
/* height: 100vh;
width: 100%; */
display: flex;
align-items: center;
justify-content: center;
background-image: url("https://i.ibb.co/wrsRNRd/IMG-0573.jpg");
background-size: cover;
border-radius: 9% 60% 9% 100%;
width: 500px;
/* 75%; */

}
/* .text-block {
    position:absolute;
    display: flex;
    justify-content: top;
    align-items: center;
    bottom: 20px;
    right: 20px;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
  } */
#arnieHome1::before { 
    /* justify-content: space-evenly;
    padding: 0 50% 0 50%; 
    background-image: url("https://i.ibb.co/wrsRNRd/IMG-0573.jpg");
    position:absolute;
    /top:0px;
    left:0px; 
    display:flex;
    opacity: 0.75;%;
    background-size: cover;  */
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: #06030340;
    opacity: .1%;
} 

#p1P {
    text-align: center;
    color: white
}


/*              Biography Page               */
.contentBiography {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-basis: auto;
}
.contentbox {
    display: flex;
    flex-direction:column ;
    justify-content: space-between;
}
#InformativeInformation {
    display: flex;
    flex-direction: column;
    /* font-size: 1em; */
}


/*               Resume Page */
.contentResume {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-basis: auto;
}

.containerMainResume {
    display: flex;
    flex-direction:column ;
    justify-content: space-between;
}

/*                Project Page */
.contentProject {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-basis: auto;
}
.containerMainProject {
    display: flex;
    flex-direction:column ;
    justify-content: space-between;
}

/*               Link Page */
.contentLink {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-basis: auto;
}

.containerMainLink {
    display: flex;
    flex-direction:column ;
    justify-content: space-between;
}


/*               Button Formats */
#homeB {
    background: lightskyblue;
    cursor: pointer;
    /* cursor:context-menu;#home:hover grab {} changes color and format of button*/ 
}
#biographyB {
    background: lightskyblue;
    cursor: pointer;
}
#resumeB {
    background: lightskyblue;
    cursor: pointer;
}
#projectsB {
    background: lightskyblue;
    cursor: pointer;
}
#linkB {
    background: lightskyblue;
    cursor: pointer;
}

/*               Footer */
.footer {
    display: flexbox;
    /* height: 10vh; */
    box-sizing:content-box;
    border-style: solid, black;
    border: 1.5px solid black; 
    justify-content: space-between
    /* background-color: lightsteelblue; */
}
 #iconList {
    display: flex;
    font-size: 1em;  
}
.li1{
    list-style: none;
    justify-content: space-evenly;
    padding: 0 100% 0 0%; 
}
.li2{
    list-style: none;
    justify-content: space-evenly;
    padding: 0 100% 0 100%; 
}
.li3{
    list-style: none;
    justify-content: space-evenly;
    padding: 0 100% 0 100%; 
}
.li4{
    list-style: none;
    justify-content: space-evenly;
    padding: 0 100% 0 100%; 
} 
.socialLinks {
    display: flex;
    min-height: auto;
    border-style: solid, black;
    border: 1.5px solid black;
    /* justify-content: space-between; */
    background-color: aliceblue;
    color: royalblue;
}






/* .mainDiv {
    display: flex;
    width: 90%;
    margin: 0 auto;
    height: 100%;

} */
 /* .flex-container {
    display: flex;  
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid black;
    background-color: white;
    padding: 1em;
    margin: 0 auto;
    font-size: 30px; color:black
}  */

 /* .navigation-Button-Panel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: gray;
    flex-basis: 100%;
 } 


/*}
.document.createElement{
    background-color: rgb(14, 39, 39);
    padding: 0;
}

body {
    font-family: 'Times New Roman', Times, serif;
    width: auto;
    color: black;
}

h1 {
    color: red;
    text-align: center;
}

.buttonNavigation {
    align-content: center;
} */
/* li {
    /* list-style: none; */
    /* justify-content: space-evenly;
    padding: 0 100% 0 100%;  */
/* } */ 


